---
BasedOnStyle: WebKit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: AllDefinitions
AlignConsecutiveMacros: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
BinPackArguments: false
BinPackParameters: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBinaryOperators: None
ColumnLimit: 90
FixNamespaceComments: true
NamespaceIndentation: None
IndentWidth: 4
IndentPPDirectives: AfterHash
PointerAlignment: Right
CommentPragmas: '^ clang-format: '
SortIncludes: false
MaxEmptyLinesToKeep: 1
---
