bin/
.*.swp
.swp
/doc
build
dist
*.mwb.bak
*.o
*.la
*.lo
.deps
.libs
m4/
.dirstamp
ltmain.sh
libtool
confdefs.h
test-driver
test-suite.log
.ycm_extra_conf.pyc
autom4te.cache
/config.h
/configure
config.h.in
compile
config.h.in~
config.guess
aclocal.m4
Makefile.in
Makefile
config.log
config.status
stamp-h1
missing
depcomp
install-sh
config.sub
umink_pkg_config.h
tags
*.pyc
